[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/OmniCppComplete"]
	path = vim/bundle/OmniCppComplete
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/bundle/css_color"]
	path = vim/bundle/css_color
	url = git://github.com/vim-scripts/css_color.vim.git
[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/vim-scripts/repeat.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/vim-scripts/ctrlp.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/rooter"]
	path = vim/bundle/rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
